

*{
    box-sizing: border-box;
    margin: auto;
    font-family: 'Poppins', sans-serif;  
    
}
body{
    background-color: var(--white);
}
/*assetings*/

:root{
    --blue: #0568A6;
    --light-blue: #C2E0F2;
    --yellow:#F2B705;
    --orange: #BF5B04;
    --red: #A61A0D;
    --white: #f4f4f4;
    --black: #3b3b3b;
}



footer{
    margin: auto;
    text-align: left;
    background-color: var(--blue    );
    color: var(--white);
    height: 9rem;
    padding: 20px;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-around;
}

/* main */
.subtitle{
    text-align: center;
    margin: 20px;
}
.member img{
    border-radius: 15%;
    box-shadow: 2px 2px 2px 2px var(--yellow);
    margin: 20px 0;
    background-color: white;
}
.member {
    padding-top: 10px;    
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 26vw;   
    justify-content: center ;
    display: flex;
    flex-direction: column;
    background-color: var(--light-blue);
    font-size: 0.8rem;
}
.imageMemberBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 40vh;
    display: flex;  
    margin: 5px;
    border-top: solid 1px var(--black);
    padding-top: 20px;
    margin-bottom: 20px;
}

#members-list{
    width: 80vw;
    
    flex-wrap: wrap;
    justify-items: center ;
}
.grid{
    display: flex;
    flex-direction: row;
}
.list{
    display: flex;
    flex-direction: column;
    
}
.list .member{
    width: 60vw;
    margin: auto;
    align-items: center;
    margin-bottom: 20px;
}
.list .imageMemberBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.list img{
    width: 400px;
    margin-left: 40px;
}
#listgrid {
    margin: auto;
    display: flex;
    width: 400px;
    margin-bottom: 20px;
    align-items: center;
}
#listgrid button{
    border: none;
    height: 55px;
    width: 100px;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 20px;
    transition: font-size .2s ease-in;
    transition: box-shadow .3s ease-in;
}
.active{
    opacity: 50%;
    color: #3b3b3b;

}
button:hover{
    opacity: 90%;
    cursor: pointer;
    font-size: 16px;
    box-shadow: inset 4px 4px 4px var(--black);
}
.information h2{
    font-size: large;
}
/* menu small*/

@media (max-width: 70rem) {
    /* main */
    #listgrid{
        display: none;
    }
    #members-list{
        flex-direction: column;
    }
    .member{
        width: 60vw;
        margin-top: 20px;
        font-size: 1rem;
    }
    .imageMemberBox{
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: auto;
        height: auto;
    }
    .imageMemberBox img{
        margin: 20px 0;
    }
   footer{
    height: auto;
   }
}   