*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  

}

body{
    background-color: var(--white);
}
#correntPage{
    background-color: var(--blue);  
    border-radius: 20px;
}
:root{
    --blue: #0568A6;
    --dblue: #023757;
    --light-blue: #C2E0F2;
    --yellow:#F2B705;
    --orange: #BF5B04;
    --red: #A61A0D;
    --white: #f4f4f4;
    --black: #3b3b3b;
}

header nav a:hover{
    background-color: var(--blue) ;
    border-radius: 15%;
    
}
button:hover {
    background-color: #023757; 
    cursor: pointer;
}

#heroimage{
    width: 100vw;
}
h1{
    margin: 20px 80px;
}
h2{
    color: var(--white);
}
#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95vw;
    margin: auto;
}
#currentEvent{
    width: 50vw;
    background-color: var(--blue);
    color: var(--white);
}
#currentEvent h2, #currentWetherTitle, #forecastTitle {
    background-color: var(--dblue);
    padding: 10px;
    color: var(--white);
}
#currentEvent p {
    padding: 10px;
}
#weather{
    background-color: var(--light-blue);
    width: 400px;
}
#forecast{
    width: 200px;
    background-color: var(--light-blue);

}
#forecast div{
    margin: 20px;
    
}
#weatherBox {
    display: flex;
    flex-direction: row;
    margin: 20px;
}
#current-temp{
    font-weight: bold;
}
#membergrid{
    width: 90vw;
    margin: auto;
    text-align: center;
    margin-top: 55px;
    background-color: var(--blue);
    margin-bottom: 20px;
}
#members-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.member{
    background-color: var(--light-blue);
    margin: 55px;
    padding: 15px;
    text-align: center;
    width: 300px;
    height: 400px;
}
.member h2{
    color: var(--black);
    
}
.imageMemberBox{
    margin: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.imageMemberBox img{
    margin-bottom: 20px;
}

.number{
    margin-bottom: 20px;
}
.website{
    background-color: var(--blue);
    color: var(--white);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 20px;
}
.website:hover{
    background-color: var(--dblue);
}
#member{
    padding-top: 30px;
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
footer div{
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: var(--white);
}


#logoNav{
    width: 44px;
    height: auto;
    margin-left: 80px;
}

header{
    display:block;
}

#navDiv{
display:grid;
grid-template-columns: 44px auto 44px;
color: var(--red);
background-color: var(--light-blue);
margin: 0;
padding: 20px;
}
#navegation{
    width: 100%;
    background-color: var(--black);
    grid-template-rows: 1fr;
    text-align: center;
}


#menu{
    display: none;
}

#menuList{
    display: flex;  
    flex-direction: row;
    height: 4rem;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}



links{
    color: var(--white);
    text-decoration: none;
    padding: 1rem;

}

#joinbtn{
    width: 150px;
    height: 55px;
    position: absolute;
    right: 100px;
    font-size: 18px;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 20px;
}



@media (max-width: 70rem) {
    #navDiv {
        display: flex;
        flex-direction: column;
        height: 20vh;
    }
    h1{
        font-size: 1rem;
        width: 100%;
    }
    button {
        display: block;
        margin: 0 auto; /* Centralizar o botão */
        width: auto;
        padding: 10px 20px; /* Tamanho proporcional */
        font-size: 1rem;
        border-radius: 8px;
    }
    #menulist{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: #174E70;
        padding: 0;
        margin: 0;
        
    }   
    #navegation li{
        width: 99vw;
       

    }
    #navegation li a{
        width: 100%; 
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid var(--dblue);
        
    }
    #navegation{
        width: 100%;
    }
    #navegation a{
        width: 100%;

     }
    #menu {
        display: block;  
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        width: 100vw;
        cursor: pointer;
        padding: 20px;
    }
    #correntPage{
        background-color: #333333;
    }
        
    #menu::before {
        content: "☰";
        color: var(--black);
        font-size: 40px;
    }
        
    #menu.open::before {
        content: "❎";
    }
    header{
        background-color: #174E70;
    }
        
    

    #navegation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
        width: 100%;
    }
    
    #navegation {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out; 
    }
    #navegation ul  {overflow: hidden;}
    #navegation.open {
        grid-template-rows: 1fr;
    }
    #section2{
        display: flex;
        flex-direction: column;
    }
}