*{
    box-sizing: border-box;
    margin: auto;
    font-family: 'Poppins', sans-serif;  

}
:root{
    --blue: #0568A6;
    --dblue: #023757;
    --light-blue: #C2E0F2;
    --yellow:#F2B705;
    --orange: #BF5B04;
    --red: #A61A0D;
    --white: #f4f4f4;
    --black: #3b3b3b;
}
span{
    font-weight: bolder;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 2px black;
    width: 70%;
    padding: 80px 0;
    margin: 20px auto;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
    background-color: var(--light-blue);
}
#formInfo{
    font-size: 20px;
}
h1{
    text-align: center;
    font-size: 40px;

}

footer{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--blue);
    color: var(--white);
    
}
footer div{
    display: flex;
    flex-direction: column;
}
footer a{
    text-decoration: none;
    color: var(--white);
}
@media (max-width: 70rem) {
    
    p{
        font-size: 18px;
        width: 90%;
    }
    h1{
        font-size: 30px;
    }
    
}