
/*Font*/


/*settings*/

footer{
    margin: auto;
    text-align: center;
    background-color: #174E70;
    color: aliceblue;
    height: 4rem;
    padding: 20px;
    padding-bottom: 70px;
}

#menu{
    display: none;
}

/*General*/
*{
    box-sizing: border-box;
    margin: auto;
    font-family: 'Poppins', sans-serif;
   
}

/*others*/

header{
    display: flex;
    flex-direction: column;
}
header span{
    color: #FCF959;
}
header nav{
    width: 100%;
    background-color: #333333;
    
}
.ulNav{
    display: flex;  
    flex-direction: row;
    height: 4rem;
    
    width: 100%;
    list-style: none;
}
.marked{
    background-color: #174E70;  
    border-radius: 20px;
    
}
header nav a:hover{
    background-color: #000000;
}

header nav a{
    color: aliceblue;
    text-decoration: none;
    padding: 1rem;

}
.hero{
    display: flex;
    color: aliceblue;
    background-color: #174E70   ;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
}   
#profile{
    width: 20vw;
    margin: 55px 20px;
}
.box{
    border: solid #000000 2px;
    border-radius: 20px;
    margin: 20px;
    box-shadow:  0px 0px 15px #00000052;
}
 section h2{
    text-align: center;  
    color: aliceblue;
}

#topics li{
    margin:0px;
}

#topics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    font-size: 1.25rem;
}

aside{
    grid-column: 2;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#flag{
    margin: 50px;
}
.section1{
    display: grid;
    grid-template-columns: 70vw 30vw;
    justify-content: center;
    margin: 0; 
}
.subtitleBox{   
    background-color: #174E70;
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    color: aliceblue;
    font-size: 25px;
    width: 100%;
    height: 4rem;
}   
.section2{
    margin: auto;
    margin-bottom: 20px;
}
#courseNav{
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px auto;
    
    
}

#courseNav button{
    background-color: #333333;
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    height: 40px;
    text-align: center;
    align-content: center;
    border-radius: 5%;
   
}
.gridCourse{
    display: flex;
    flex-direction: row;
    gap: 10px;
    
    margin: 20px auto;
    flex-wrap: wrap;
    padding-top: 50px;
    border-top: solid 1px #0000005a;
}
.gridCourse p{
    background-color: #333333;
    width: 30vw;
    height: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    align-content: center;
    border-radius: 0%;
}
.blocked{
    background-color: #333333;

}
.actived{
    background-color: #174E70;
}


@media (max-width: 70rem) {
   
        
    #flag{
        width: 50vw ;
        height: auto;
    }
    .ulNav{
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #174E70;
        padding: 0;
        margin: 0;
    }   
    .navigation li{
        width: 99vw;
       

    }
    .navigation li a{
        height: 70px;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    nav{
        width: 100%;
    }
    nav a{
        width: 100%;

     }
    h1{
        font-size: 2vw;
    }
    #hero img{
        width: 20px;
        height: auto;
    }
    #menu {
        display: flex;  
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        width: 100vw;
        cursor: pointer;
        padding: 20px;
        }
    .marked{
        background-color: #333333;
    }
        
    #menu::before {
        content: "☰";
        color: #bbb;
        font-size: 40px;
        justify-items: left;
    }
        
    #menu.open::before {
        content: "❎";
    }
    header{
        background-color: #174E70;
    }
        
    .navigation a{
        display: none;
        
    }   
    .navigation a:hover {
        background-color: #bbb;
        color: #333;
        font-weight: 700;
        width: 100%;
    }
    
    .section1{
        display: flex;
        flex-direction: column;
        padding: 50px 0px;
        row-gap: 40px   ;
    } 
    .subtitleBox, .box{
        width: 100vw;
        margin: 0;
    }
    .gridCourse a{
        width: 100vw;
    }
    #topics{
        margin: 20px;
    }
    .gridCourse p{
        width: 90vw;
    }
}